stages:
  - build
  - publish

build-packages:
  image: ghcr.io/termux/package-builder:latest
  stage: build
  timeout: 6h
  tags:
    - saas-linux-xlarge-amd64
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  parallel:
    matrix:
      - ARCH:
        - aarch64
        - x86_64
  script:
    - mkdir output
    - bash -x build.sh -a "$ARCH"
  artifacts:
    untracked: false
    when: always
    access: all
    expire_in: "7 days"
    paths:
      - output/**/*
