stages:
  - build

build-packages:
  image: ghcr.io/termux/package-builder:latest
  stage: build
  timeout: 6h
  tags:
    - saas-linux-medium-amd64
  variables:
    GIT_SUBMODULE_STRATEGY: recursive
  parallel:
    matrix:
      - ARCH:
        - aarch64
        - x86_64
  script:
    - mkdir output
    - bash -x build.sh -a "$ARCH"
    - ls bootstrap-*.zip && mv bootstrap-*.zip output/
  artifacts:
    untracked: false
    when: always
    access: all
    expire_in: "7 days"
    paths:
      - output/**/*

